<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}TradeInLuxe
			{% endblock %}
		</title>
		<script src="https://kit.fontawesome.com/83adf2db92.js" crossorigin="anonymous"></script>
		<link rel="icon" href="{{ asset('build/images/logo/tradeInLuxeLogo.svg') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body data-turbo="false"> {% block body %}{% endblock %}
		</body>
	</html>
