{% extends 'base.html.twig' %}
{% block title %}Erreur 500 - Erreur interne du serveur
{% endblock %}
{% block body %}
	<section class="erreur">
		<div class="erreurContainer">
			<h1 class="erreurContainerTitle">ERREUR 500</h1>
			<img src="{{ asset('build/images/logo/settings.svg') }}" alt="image erreur" class="erreurContainerImage">
			<p class="erreurContainerTexte">Une erreur interne du serveur s'est produite.</p>
			<a href="{{ path('app_accueil') }}" class="erreurContainerButton">Page d'accueil</a>
		</div>
	</section>
{% endblock %}

