{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe - Mes articles
{% endblock %}
{% block body %}
	{{ include('partials/_navbar.html.twig') }}

	<main>
		{{ include('partials/_sidebar.html.twig') }}

		<section class="profil">
			<div class="profilContainer">
				<h1 class="profilContainerTitle">Mes articles</h1>
				<p class="profilContainerSubtitle">Retrouvez tous les articles que vous avez proposés à l'échange.</p>
				<div id="targetArticle">
					{{ include('profil/_listArticles.html.twig') }}
				</div>
			</div>
		</section>


	</main>
	{{ include('partials/_footer.html.twig') }}
{% endblock %}
