.navigation {
    font-family: $font-family-primary;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: $bg-color-primary;
    color: $white;
    padding: 10px 32px;
    position: sticky;
    top: 0;
    z-index: 2;

    &Logo {
        display: flex;
        align-items: center;

        &Image {
            height: 40px;
        }

        a{
            display: flex;
            text-decoration: none;
            color: $white;
        }
        &Titre {
            margin-left: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .accueilContentSearch{
            display: none;
            width: 300px;
            margin-left: 18px;
            &Form{
                padding: 0;
                width: 100%;
                &Content{
                    &Preview{
                        .resultat{
                            &Lien{
                                &ContentListImage{
                                    width: 15%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &Boutons {
        display: flex;
        ul{
            display: flex;
            text-decoration: none;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &Inscription, &Connexion{
            text-decoration: none;
            color: $secondary;
            background-color: $primary;
            font-size: 14px;
            padding: 0.5rem 1rem;
            margin-left: 0.5rem;
            transition: background-color 0.3s;

            &:hover {
                background-color: $white;
            }
        }
        &Question{
            text-decoration: underline;
            color: $white;
            font-size: 14px;
            padding: 0.5rem 1rem;
            margin-left: 0.5rem;

            &:hover {
                color: $primary;
            }
        }
    }
    .burger, .closeBurger{
        display: none;
        color: $white;
        font-size: 1.8em;
    }
}

@media (max-width: 430px) {
    .navigation{
        padding: 13px 24px;
        overflow-x: clip;
        &Logo{
            .accueilContentSearch{
                width: 260px;
                &Form{
                    &Content{
                        &Preview{
                            .resultat{
                                &Lien{
                                    padding: 6px 12px;
                                    &ContentListImage{
                                        width: 20%;
                                    }
                                    &ContentListName{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &Boutons {
            position: absolute;
            display: block;
            width: 100%;
            top: 66px;
            right: -430px;
            z-index: -1;
            ul{
                display: block;
                width: 100%;
                li{
                    background-color: $white;
                    padding: 18px 0;
                    text-align: center;
                    border-bottom: 1px solid #e3e3e3;
                    a{
                        display: inline-block;
                        width: 160px;
                        margin: 0;
                    }
                }
            }
            &Question{
                color: $secondary;
                &:hover {
                    color: inherit;
                }
            }
        }
        .menuShow {
            transition: right 0.3s ease-in-out;
            right: 0;
        }
        .menuHide{
            transition: right 0.3s ease-in-out;
            right: -430px;
        }
        .burger{
            display: block;
        }
    }
}
