.accueil{
    position: relative;
    width: 100%;
    height: 85vh; 
    overflow: hidden;
    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        object-fit: cover;
        opacity: 0.8;
    }
    &Content{
        position: relative;
        font-family: $font-family-primary;
        color: $white;
        max-width: 1200px;
        margin: 64px auto 0 auto;
        padding: 20px;
        &Title{
            font-size: 2em;
            text-align: center;
            z-index: 1;
        }
        &Texte{
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 15px;
        }
    }
}

.produits{
    &Content{
        @extend .accueilContent;
        margin: 0 auto;
        &Title{
            color: $secondary;
            font-size: 1.8em;
            text-align: center;
        }
        &Grid{
            display: grid;
            grid-template-columns: 40% 20%;
            justify-content: center;
            .imageBox{
                position: relative;
                border: 4px solid #ffffff;
                padding: 4px;
                background-color: whitesmoke;
              
                img{
                    max-width: 100%;
                    height: auto;
                    transition: opacity 0.3s ease;
                }
                .overlay{
                    color: white;
                    text-decoration: none;
                    position: absolute;
                    top: 50%; 
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0; 
                    transition: opacity 0.3s ease;
                    background-color: $bg-color-secondary;
                    padding: 12px 24px; 
                }
                &:hover{
                    img{
                        opacity: 0.5;
                    }
                    .overlay{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

  
@media (max-width: 430px) {
    .accueil{
        &Content{
            &Title{
                font-size: 1.9em;
            }
        }
    }

    .produits{
        &Content{
            &Grid{
                grid-template-columns: 1fr;
                .imageBox{
                    .overlay{
                        opacity: 1; 
                    }
                    &:hover{
                        img{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
}



