<section class="faq">
	<div class="faqContent">
		<h1 class="faqContentTitle">Transport & Échanges</h1>

		<p class="faqContentTexte">Tradeinluxe assure un processus d'échange fluide et efficace grâce à notre système de points intuitif, accessible en seulement quelques clics.
		</p>

		<p class="faqContentTexte">Après la confirmation de l'échange, les articles devront être envoyés à notre siège, à Paris pour une vérification minutieuse de leur authenticité par nos équipes spécialisées. Le délai de vérification peut varier en fonction de la complexité et de la nature du produit ; veuillez consulter nos conditions de
			<a href="{{path('app_certification')}}">certification luxe</a>.</p>

		<p class="faqContentTexte">Une fois l'article validé par notre équipe, l'expédition finale sera réalisée dans les plus brefs délais. Les articles seront livrés dans un emballage soigné et élégant, répondant aux exigences des utilisateurs et garantissant la protection des produits de valeur.</p>

		<p class="faqContentTexte">Un numéro de suivi sera fourni par nos transporteurs, permettant aux parties impliquées de suivre l'expédition en temps réel et d'être informées de la date et de l'heure estimées de livraison.</p>

	</div>
</section>
