<section class="faq">
	<div class="faqContent">
		<h1 class="faqContentTitle">Comment ça marche ?</h1>

		<p class="faqContentTexte">Tradeinluxe réinvente le troc de textile et de maroquinerie de luxe, permettant à ses membres d'échanger leurs articles de mode avec d'autres utilisateurs dans toute l’Europe. Cette plateforme unique et économique transforme la manière de vivre le luxe. Voici le fonctionnement en quelques étapes :</p>


		<ul class="valeursContentListe">
			<li>
				<strong>Inscription :</strong>
				Commencez par créer un compte sur le site de Tradeinluxe.</li>
			<li>
				<strong>Profil et Produits :</strong>
				Complétez votre profil, recherchez les produits que vous possédez et proposez-les à l'échange en mettant des photos et une description..</li>
			<li>
				<strong>Recherche :</strong>
				Utilisez la plateforme pour trouver des articles qui vous intéressent, en filtrant des critères (catégorie, marque...)</li>
			<li>
				<strong>Proposition d'Échange :</strong>
				Lorsque vous trouvez un article désiré, comme une robe, un sac ou des chaussures, proposez un échange au propriétaire..</li>
			<li>
				<strong>Accord :</strong>
				Si l'intérêt est mutuel et que le propriétaire accepte l'offre, l'échange est validé.</li>

			<li>
				<strong>L'Échange :</strong>
				Une fois que les articles passent entre nos mains pour une expertise, profitez de l'article échangé pendant que l'autre membre bénéficie du vôtre. Tradeinluxe assure une assistance en cas de problème.</li>

		</ul>
		<p class="faqContentTexte">En raison des différences de valeur entre certains produits, Tradeinluxe a mis en place un système de points. Si vous échangez un produit valant plus de points contre un de moindre valeur, la différence vous est créditée pour de futurs échanges. Inversement, si vous voulez un produit plus cher, vous pouvez utiliser les points accumulés pour compenser la différence.
		</p>

		<p class="faqContentTexte">L'échange sur Tradeinluxe demande une certaine flexibilité et ouverture, adaptant parfois vos souhaits aux préférences d'autres membres. Cette nouvelle approche du luxe donne une seconde vie aux produits de luxe, favorisant une consommation plus responsable pour demain.</p>

	</div>
</section>
