<section class="faq">
	<div class="faqContent">
		<h1 class="faqContentTitle">À quoi servent les Points</h1>

		<p class="faqContentTexte">Notre système de points simplifie les échanges
			<strong>non réciproques</strong>. Cumulez des points en effectuant des
			<strong>échanges</strong>
			ou en accomplissant un certain nombre de
			<strong>tâches</strong>
			au sein de notre plateforme. Échangez ensuite ces points contre des articles, même sans en proposer en retour. C'est une façon pratique de trouver ce que vous voulez et de favoriser les échanges au sein de notre plateforme.</p>
		<div class="faqContentTask">
			<h3 class="faqContentTaskTitle">Tâches à accomplir</h3>
			<ul class="faqContentTaskList">
				<li class="faqContentTaskListItem">Inscription
					<span class="faqContentTaskListItemPoints">+50 points</span>
				</li>
				<hr>
				<li class="faqContentTaskListItem">Complétez votre profil
					<span class="faqContentTaskListItemPoints">+200 points</span>
				</li>
				<hr>
				<li class="faqContentTaskListItem">Faire des échanges
					<span class="faqContentTaskListItemPoints">+25 points</span>
				</li>
			</ul>
		</div>

	</div>
</section>
