<footer class="footer">
	<div class="footerContent">
		<div class="footerContentSection">
			<p class="footerContentSectionTitle">TradeInLuxe</p>
			<ul class="footerContentSectionLinks">
				<li>
					<a href="#">À propos de TradeInLuxe</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</div>
		<div class="footerContentSection">
			<p class="footerContentSectionTitle">FAQ</p>
			<ul class="footerContentSectionLinks">
				<li>
					<a href="#">Comment ça marche ?</a>
				</li>
				<li>
					<a href="#">Vendre</a>
				</li>
				<li>
					<a href="#">Acheter</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footerBottom">
		<div class="footerBottomLinks">
			<a href="#privacy">Politique de Confidentialité</a>
			<a href="#terms">Termes et Conditions</a>
		</div>
	</div>
</footer>
