<nav class="navigation">
	<div class="navigationLogo">
		<img src="{{ asset('build/images/logo/tradeInLuxeLogo.svg') }}" alt="Logo">
		<span>TRADEINLUXE</span>
	</div>
	<div class="navigationBoutons">
		<a class="navigationBoutonsInscription" href="{{path('app_inscription')}}">S'inscrire</a>
		<a class="navigationBoutonsConnexion" href="connexion-url">Se connecter</a>
	</div>
</nav>
